* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
h1 {
    padding: 10px 0 10px 35px;
    color: rgb(0, 98, 255);
}
.container .wrapper {
    width: 100%;
    display: grid;
}
.container .wrapper .col {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0 10px 30px;
}
.wrapper .col label {
    position: relative;
    color: rgb(0, 98, 255);
    font-size: 20px;
    padding-bottom: 8px;
    /* border-bottom: 1.2px solid rgb(0, 98, 255); */
}
.col label input, .col button {
    width: 70%;
    padding: 2px 4px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(0, 98, 255);
}
.col button {
    height: 30px;
    border: 2px solid rgb(0, 98, 255);
    color: rgb(0, 98, 255);
    background: white;
}
.col span {
    font-size: 18px;
    color: blue;
    font-weight: 800;
}
.col a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: rgb(0, 98, 255);
}
.col div {
    font-size: 20px;
    position: relative;
    padding: 5px 25px 5px 10px;
}


@media screen and (min-width: 1024px){
    .wrapper {
       grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
     }
}
@media screen and (min-width: 502px) and (max-width: 768px){
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
     }
}
@media screen and (max-width: 502px){
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
     }
     .wrapper .col:last-child {
        border-top: 1px solid rgb(0, 98, 255);
     }
}
/* #edit {
    display: none;
} */
.commentBox {
    position: absolute;
    width: 100%;
    min-height: 200px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: rgba(214, 214, 214, 0.264);
    top: -500px;
}
.commentBox .combox {
    position: relative;
    width: 320px;
    color: azure;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1.2px solid rgb(0, 98, 255);
    background: rgb(0, 98, 255);
    border-radius: 5px;
    padding: 10px 20px;
}
.combox #thankYou {
    text-align: center;
    display: none;
}
.combox textarea {
    position: relative;
    border: 1.2px solid rgb(0, 98, 255);
    outline: none;
    resize: none;
    padding: 8px;
    border-radius: 4px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.combox button {
    border: 1.2px solid azure;
    outline: none;
    position: relative;
    width: 70%;
    padding: 4px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    color: azure;
}
.commentBox.screen{
    transition: 1.2s;
    top: 0;
}
.commentBox.hide{
    transition: 1.2s;
    top: -500px;
}