* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
body {
    position: relative;
    min-height: 100vh;
}
.container {
    width: 100%;
    position: relative;
}
.container header {
    position: relative;
    padding: 10px;
    width: 100%;
}
header nav {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo img {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
}
nav .menus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    /* width: 60%; */
}
nav .menus a {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: black;
}
nav .auth {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.auth .name {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
} 

.auth .fa-navicon {
    display: none;
}
.auth .fa-user {
    margin-left: 8px;
    font-size: 18px;
    padding: 3px;
}
.auth [p] {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .auth button {
    position: relative;
    padding: 12px 26px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}
nav .auth button#login {
    background: rgb(0,128,255);
    outline: none;
    border: none;
}
nav .auth button#login a {
    color: white;
}
nav select {
    position: relative;
    padding: 4px 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2.5px solid rgb(0, 128, 255);
    border-radius: 5px;
}

aside {
    position: absolute;
    width: 100%;
    height: 380px;
    top: -380px;
}
aside .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
aside .navigation a {
    width: 40%;
    padding: 8px 13px;
    font-size: 20px;
    color: rgb(0, 128, 255);
    border-bottom: 1.3px solid rgb(0, 128, 255);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
main {
    position: relative;
    width: 100%;
}
main section {
    margin-top: 25px;
}
main section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px 0px 10px;
    height: 90vh;
}
section .col {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 25px;
    position: relative;
}
section .col:first-child {
    padding-left: 100px;
}
section .col img {
    width: 100%;
    height: 80%;
    padding-right: 50px;
    position: relative;
}
section .col h1 {
    font-size: 36px;
    padding-right: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
section .col h2 {
    /* padding: 25px 5px 15px 15px; */
    font-size: 36px;
    padding-right: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
section .col p {
    /* padding: 25px 5px 15px 125px; */
    padding-right: 20px;
    font-size: 18px;
    font-weight: 500;
}
section .col .btns {
    display: flex;
    width: 100%;
    gap: 10px;
}
section .col .btns button {
    position: relative;
    padding: 12px 26px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
section .col .btns button#biznes {
    background: transparent;
    border: 2px outset rgb(0, 128, 255);
    outline: none;    
}
section .col .btns button#biznes a {
    color: rgb(0, 128, 255);
}
section .col .btns button#investor a {
    color: white;
}
section .col .btns button#investor {
    color: white;
    background: rgb(0,128,255);
    outline: none;
    border: 2px outset rgb(0, 128, 255);
}
section#asosiy img {
    /* transform: scale(1); */
}
section .col .carusel {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 300px;
    height: 300px;
}
.carusel span {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    transform: translate(calc(var(--j) * 80px), calc(var(--i) * 60px));
    transform-origin: 150px 150px;
    font-size: 20px;
    color: azure;
    background: rgb(0, 128, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: carusel 5s linear infinite;
    animation-delay: calc(0.5s * var(--i));
}
@keyframes carusel {
    0% {
        transform: scale(0) translate(calc(var(--j) * 80px), calc(var(--i) * 60px));
    }
    90% {
        opacity: 1;
        transform: scale(1.2) translate(calc(var(--j) * 80px), calc(var(--i) * 60px));
    }
    100% {
        transform: scale(1.2) translate(calc(var(--j) * 80px), calc(var(--i) * 60px));
        opacity: 0;
    }
}

.section {
    position: relative;
    padding: 10px 50px;
    /* margin: 40px 0; */
    /* height: 100vh; */
}
.section h2 {
    font-size: 32px;
    color: rgb(0, 128, 255);
    /* padding: 15px 0 25px 15px; */
    margin-left: 100px;
    border-bottom: 1.2px solid rgb(0, 128, 255);
    /* display: inline-block; */
}
.section .row {
    padding: 25px 0 30px 100px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.2px solid rgb(0, 128, 255); 
}
.cols {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 180px;
    justify-content: center;
    padding-left: 100px;
}
.section .row img {
    width: 120px;
    height: 100px;
}
section #line {
    width: 100%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
#line span {
    background: rgb(172, 213, 255);
    color: rgb(0, 128, 255);
    padding: 5px 25px 5px 10px;
    position: relative;
    z-index: 645;
    box-shadow: 0 0 10px 2px rgb(172, 213, 255);
}
.sect {
    width: 100%;
    position: relative;
    /* margin: 20px 0; */
}
.sect h2, .sect #line, [pp]{
    padding: 25px 0 25px 100px;
}

.sect .row {
    position: relative;
    padding: 0 10px 0 110px;
    width: 100%;
    
    display: flex;
    gap: 25px;
    overflow-x: auto;
}
.sect .row .card {
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    gap: 35px;
    /* align-items: flex-start;
    justify-content: center; */
    flex-direction: column;
    padding: 25px;
    border: 1px solid silver;
    border-radius: 15% 0% / 15% 0%;
    transition: 0.9s ease;
}
.sect .card:hover {
    background: rgb(0, 128, 255);
}
.card .prof {
    position: relative;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}
.card .prof .mijoz {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.prof img {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
}
.mijoz #subject {
    font-size: 13px;
    font-weight: 400;
}
.mijoz #name {
    font-size: 14px;
    font-weight: 600;
}
.sect .box {
    position: relative;
    width: 350px;
    height: 300px;
}
.box .count {
    position: relative;
    padding: 25px 30px;
    border: 1px solid rgb(0, 128, 255);
    margin: 20px 0;
    background: rgb(177, 216, 255);
    border-radius: 10px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 128, 255);
}
.box .context {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.box b {
    font-size: 18px;
    width: 100%;
    position: relative;
    margin-bottom: 18px;    
}
.box p {
    font-size: 14px;
    width: 100%;
    position: relative;
    font-weight: 400;

}
.box a {
    position: relative;
    width: 100%;
    position: relative;
    text-decoration: none;
    color: rgb(0, 128, 255);
}

p[p] i.fa-user {
    display: none;
}
footer {
    width: 100%;
    position: relative;
    background: rgb(0, 128, 255);
    color: white;
}
footer .wrapid {
    position: relative;
    padding: 35px 35px 25px 100px;
}
.wrapid .link_foot_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 28% 22% 25% 25%; */
    gap: 10px;
    position: relative;
}
.link_foot_grid .col {
    /* border: 1px solid; */
    min-height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    flex-direction: column;
}
.link_foot_grid h3
{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    /* padding: 5px; */
    position: relative;
    margin-bottom: 15px;
}
.link_foot_grid p
{
    font-size: 15px;
    padding-right: 25px;
}
.link_foot_grid h3.brand_foot img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
.link_foot_grid .icons {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}
.link_foot_grid a {
    width: 100%;
    position: relative;
    color: white;
    margin: 6px 0;
}
.foot {
    position: relative;
    width: 100%;
}
.wrapid p.hr {
    position: relative;
    width: 100%;
    height: 2px;
    background: silver;
    margin: 20px 0 8px 0;
}
.foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 35px 0;
}
.foot a {
    color: white;
}
