* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
body {
    position: relative;
    min-height: 100vh;
}
.container {
    width: 100%;
    position: relative;
}
.container header {
    position: relative;
    padding: 10px;
    width: 100%;
}
header nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo img {
    position: relative;
    border-radius: 50%;
}
nav .menus {
    position: relative;
    align-items: center;
    justify-content: center;
}
nav .menus a {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: black;
}
nav .auth {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.auth .name {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
} 


.auth .fa-user {
    margin-left: 8px;
    font-size: 18px;
    padding: 3px;
}
.auth [p] {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .auth button {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
}
nav .auth button#login {
    background: rgb(0,128,255);
    outline: none;
    border: none;
}
nav .auth button#login a {
    color: white;
}
nav select {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    border: 2.5px solid rgb(0, 128, 255);
    border-radius: 5px;
}

aside {
    position: absolute;
    width: 100%;
    height: 380px;
    top: -380px;
    background: rgb(0, 128, 255);
    z-index: 100;
}
aside.bottom{
    top: 0;
}
aside .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
aside .navigation a {
    width: 40%;
    padding: 8px 13px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-bottom: 1.3px solid rgb(152, 204, 255);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
main {
    position: relative;
    width: 100%;
    
}
main section {
    margin: 25px 0 25px 20px;
}
main section {
    position: relative;
    display: grid;
    padding: 0 10px 0px 10px;
}
section .col {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
    gap: 25px;
    position: relative;
}
section .col img {
    width: 100%;
    padding-right: 50px;
    position: relative;
}
section .col h1, section .col h2 {
    font-weight: 500;
    text-transform: uppercase;
}
section .col p {
    font-weight: 500;
}
section .col .btns {
    display: flex;
    /* width: 100%; */
}
section .col .btns button {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}
section .col .btns button#biznes {
    background: transparent;
    border: 2px outset rgb(0, 128, 255);
    outline: none;    
}
section .col .btns button#biznes a {
    color: rgb(0, 128, 255);
}
section .col .btns button#investor a {
    color: white;
}
section .col .btns button#investor {
    color: white;
    background: rgb(0,128,255);
    outline: none;
    border: 2px outset rgb(0, 128, 255);
}

.section {
    position: relative;
}
.section h2 {
    color: rgb(0, 128, 255);
    border-bottom: 1.2px solid rgb(0, 128, 255);
}
.section .row {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.2px solid rgb(0, 128, 255);
    overflow-x: auto;
}

.section .row::-webkit-scrollbar {
    height: 3px;
    background: rgba(152, 203, 255, 0.453);
}
.section .row .sponsors {
    display: flex;

}
.section .row::-webkit-scrollbar-button {
    height: 3px;
    width: 5px;
    background: rgba(0, 128, 255, 0.671);
}
.section .row::-webkit-scrollbar-thumb {
    height: 3px;
    background: rgb(120, 188, 255);
}

section #line {
    width: 100%;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
#line span {
    background: rgb(172, 213, 255);
    color: rgb(0, 128, 255);
    padding: 5px 25px 5px 20px;
    position: relative;
    z-index: 645;
    box-shadow: 0 0 10px 2px rgb(172, 213, 255);
}
.sect {
    width: 100%;
    height: 80vh;
    position: relative;
    /* margin: 20px 0; */
}
.sect h2, .sect #line, [pp]{
    padding: 10px 0 10px 20px;
}

.sect .row {
    position: relative;
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 25px;
    overflow-x: auto;
}
.sect .row::-webkit-scrollbar {
    height: 3px;
    background: rgba(152, 203, 255, 0.453);
}
.sect .row::-webkit-scrollbar-button {
    height: 3px;
    width: 5px;
    background: rgba(0, 128, 255, 0.671);
}
.sect .row::-webkit-scrollbar-thumb {
    height: 3px;
    background: rgb(120, 188, 255);
}
.sect .wrapper {
    display: flex;
    gap: 10px; 
}
.sect .row .card {
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    gap: 35px;
    flex-direction: column;
    padding: 25px;
    border: 1px solid silver;
    border-radius: 15% 0% / 15% 0%;
    transition: 0.9s ease;
    overflow-y: auto;
}
.sect .row .card::-webkit-scrollbar {
    height: 3px;
    background: rgba(152, 203, 255, 0.453);
}
.sect .row .card::-webkit-scrollbar-button {
    height: 3px;
    width: 2px;
    background: rgba(0, 128, 255, 0.671);
}
.sect .row .card::-webkit-scrollbar-thumb {
    height: 3px;
    background: rgb(120, 188, 255);
}
.sect .card:hover {
    background: rgb(0, 128, 255);
}
.card .prof {
    position: relative;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}
.card .prof .mijoz {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.prof img {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
}
.mijoz #subject {
    font-size: 13px;
    font-weight: 400;
}
.mijoz #name {
    font-size: 14px;
    font-weight: 600;
}

.secto .box {
    position: relative;
    border: 1.2px solid silver;
    padding: 8px;
    border-radius: 5px;
}
.secto .columns {
    position: relative;
}
.box .count {
    position: relative;
    padding: 25px 30px;
    border: 1px solid rgb(0, 128, 255);
    margin: 20px 0;
    background: rgb(177, 216, 255);
    border-radius: 10px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 128, 255);
}
.box .context {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.box b {
    font-size: 18px;
    width: 100%;
    position: relative;
    margin-bottom: 18px;    
}
.box p {
    font-size: 14px;
    width: 100%;
    position: relative;
    font-weight: 400;

}
.box a {
    position: relative;
    width: 100%;
    position: relative;
    text-decoration: none;
    color: rgb(0, 128, 255);
}

p[p] i.fa-user {
    display: none;
}
footer {
    width: 100%;
    position: relative;
    background: rgb(0, 128, 255);
    color: white;
}
footer .wrapid {
    position: relative;
    padding: 35px 35px 25px 20px;
}

.link_foot_grid .col {
    /* border: 1px solid; */
    min-height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 8px;
    flex-direction: column;
}
.link_foot_grid h3
{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    /* padding: 5px; */
    position: relative;
    margin-bottom: 15px;
}
.link_foot_grid p
{
    font-size: 15px;
    padding-right: 25px;
}
.link_foot_grid h3.brand_foot img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
.link_foot_grid .icons {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}
.link_foot_grid a {
    width: 100%;
    position: relative;
    color: white;
    margin: 6px 0;
}
.foot {
    position: relative;
    width: 100%;
}
.wrapid p.hr {
    position: relative;
    width: 100%;
    height: 2px;
    background: silver;
    margin: 20px 0 8px 0;
}
.foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 35px 0;
}
.foot a {
    color: white;
}



/* Favicon uchun maxsus stil */

link[href="/Pictures/logo.jpg"] {
    border-radius: 50%; 
}