* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
}
.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* align-items: center; */
    flex-direction: column;
    display: flex;
}
.container .back {
    width: 100%;
    padding: 25px;
    background-color: rgb(0, 128, 255);
}
.education .resume-container {
    position: relative;
    width: 100%;
}
.education .resume-container .resume-box {
    position: relative;
    width: 100%;
}
.education  .resume-container .resume-box .resume {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    list-style: none;
}
.education  .resume-container .resume-box .resume .resume-tab-list-single-item {
    position: relative;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content {
    display: flex;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content div {
    display: flex;
    padding: 10px;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .left span {
    z-index: 55;
    color: azure;
    font-size: 20px;
    font-weight: 500;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .left span #orient {
    position: absolute;
    right: 15px;
    color: azure;
    font-size: 20px;
    font-weight: 500;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .left {
    align-items: center;
    cursor: pointer;
    border: 1px solid silver;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 99;
    padding: 20px;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .left::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: rgb(0, 68, 255);
    z-index: 5;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .left::before {
    position: absolute;
    content: "";
    width: 1800px;
    height: 70%;
    background: rgb(0, 128, 255);
    animation: animate 5s linear infinite;
    z-index: 4;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.resume .left:active ~ .right {
    display: flex;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .right {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: 1.5s;
}

.resume-container .resume-box .resume .resume-tab-list-single-item .content .right h3 {
    font-size: 30px;
    color: blue;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .right span {
    font-size: 17px;
    color: rgb(0, 68, 255);
    opacity: 0.5;
}
.resume-container .resume-box .resume .resume-tab-list-single-item .content .right p {
    font-size: 20px;
    color: rgb(0, 28, 255);
    opacity: 0.5;
}


@media (min-width:1024px){
    .resume-container .resume-box .resume .resume-tab-list-single-item .content {
        flex-direction: row;
        padding: 15px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right {
        display: none;
        opacity: 0;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right.opening {
        
        display: flex;
        animation: animo 1.5s linear forwards;

    }
    @keyframes animo {
        0% {

            opacity: none;
        }
        100% {
            opacity: 1;
        }
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .left {
        width: 100%;
        transition: 2s;
        justify-content: center;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right h3 {
        margin-bottom: 20px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right span {
        margin-bottom: 20px;
    }
}




@media (max-width:1023px){
    .education .btn-container .btnBox {
        padding: 10px 13px;
        margin: 8px;
        width: 300px;
        font-size: 30px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content {
        flex-direction: column;
        padding: 14px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right h3 {
        margin-bottom: 20px;
        font-size: 25px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right span {
        margin-bottom: 20px;
        font-size: 15px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right {
        display: none;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right.opening {
        display: flex;
    }
}




@media (max-width:664px){
    .education .btn-container .btnBox {
        padding: 8px 12px;
        font-size: 24px;
        margin: 5px;
        width: 150px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content {
        flex-direction: column;
        padding: 10px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right h3 {
        margin-bottom: 20px;
        font-size: 25px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right span {
        margin-bottom: 20px;
        font-size: 15px;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right {
        display: none;
    }
    .resume-container .resume-box .resume .resume-tab-list-single-item .content .right.opening {
        display: flex;
    }
}